<h1>{{title}}</h1>
<ul class="list-group" *ngIf="showCities">
	<li class="list-group-item"
		*ngFor="#city of cities"
		(click)="showCity(city)">{{city.name}}</li>
</ul>
<h2 *ngIf="cities.length > 3">Wat veel</h2>
<input type="checkbox" (change)="toggleCities()">{{toggleMsg}}
<div *ngIf="currentCity">
	<img [src]="cityPhoto" [alt]="currentCity.name" class="cityPhoto">
	<h2>Selected city: {{currentCity.name}}</h2>
</div>
<div>
	<input type="text" class="input-lg"
		place-holder="New town..."
		#txtCity (keyup)="changeCity(txtCity.value)"
		(keyup.enter)="addCity(txtCity.value)">
		<button
			class="btn btn-success"
			(click)="addCity(txtCity.value)">add
		</button><br />
		<button
			class="btn btn-success"
			(click)="toggleText()">Toggle text
		</button><br />
		<h2 [hidden]="textVisible">This text is visible or invisible</h2>
	<h2>{{newCity}}</h2>
</div>
